<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partial.ejs') %>

</head>


<body>
    <%- include('header.ejs'); %>

        <section class="mt-4 mb-5">
            <div class="container mb-5">


                <h1 class="title  font-weight-bolder text-indigo">
                    <% if (user) { %>
                        <%= user.name %>'s feed
                            <% } else { %>

                                Shelf
                                <% }%>
                </h1>


            </div>
        </section>

        <section class="mt-4">

            <main role="main">
                <div class="container-fluid pb-10 justify-content-center">
                    <div class="flex-md-row justify-content-center">
                        <div class="card-columns justify-content-center">
                            <% products.forEach(image => { %>
                                <div class="card card-pin">
                                    <img class="card-img" src="data:image/<%=image.img.contentType%>;base64,
                                                    <%=image.img.data.toString('base64')%>">
                                    <div class="overlay">
                                        <h3 class="card-title">
                                            <%= image.name %>
                                        </h3>
                                        <div class="more">
                                            <a href="<%='/products/'+image._id%>">
                                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>


            </main>
        </section>

        <script src="assets/js/app.js"></script>
        <script src="assets/js/theme.js"></script>

        <footer class="footer pt-5 pb-5 text-center">

            <div class="container">


                <!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
                <p>© <span class="credits font-weight-bold">        
            <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
          </span>
                </p>


            </div>

        </footer>
</body>



</html>